<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devoured}}Devoured{{else}}Available!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>