<h1>Da Burgers</h1>

<h2>Available</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <h1>These aren't devoured</h1>
    <p>{{this.burger_name}}</p>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
<h1>These are devoured</h1>
<p>{{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Available?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Yet Devoured!
  </div>

  <button type="submit">Add Burger</button>


  
</form>

<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devoured}}Devoured{{else}}Available!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}