
<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Devour{{else}}Available!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
